* {
    box-sizing: border-box;
}
.conteiner {
    background-color: rgb(240, 248, 248);
    border: 1px solid;
    width: 350px;
    height: 490px;
   padding-left: 10px;
   padding-top: 60px;
   margin-top: 300px;
   margin-left: 450px;
    
}
img {
  margin-left: 125px;

}
h5{
   text-align: center;
   font-weight: bolder;
}